/* Global Styles */

* {
  box-sizing: border-box;
}

/* Page Styles */

.search-bar {
  display: block;
  margin: auto;
  padding-top: 15px;
  max-width: 600px;
  max-height: 600px;
  text-align: center;
}

.search-bar input {
  -webkit-appearance: none;
  border-radius: 5px;
  height: 55px;
  width: 440px;
  border: 2px solid rgba(201, 200, 200, 0.8);
}

.search-bar ::placeholder {
  color: black;
  font-size: 13px;
}

.image-grid {
  display: grid;
  max-width: 1000px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  grid-template-rows: repeat(auto-fit, minmax(200px, 200px));
  grid-gap: 20px;